<header>
    <nav>
<h1>******************HEADER********************</h1>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Productos</li>
        </ul>
    </nav>
</header>